.main-body{
    background-color: lightgrey;
}

/* Ajoutez ces styles à votre fichier CSS */
.bg-orange {
    background-color: #FFA500; /* Couleur orange */
}
.bg-black{
    background-color: black;
}

.text-purple {
    color: blueviolet;
  }

.custom-padding-garph{
    padding: 10%;
}